.home-body_grid {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}

.card {
    padding: var(--space--medium);
    border: .1rem solid var(--color--border);
    border-radius: var(--border-radius-400);
    background-color: var(--color--surface-1);
    width: 100%;
    position: relative;
    overflow: visible;
    box-shadow: 0 4px 16px -4px rgba(16, 42, 129, .1);
}

.container-medium {
    max-width: var(--container--medium);
    width: 100%;
}

.padding-global {
    padding-right: var(--size--1000);
    padding-left: var(--size--1000);
}

.padding-section-medium {
    padding-top: var(--padding-section--medium);
    padding-bottom: var(--size--2000);
}

/* Apply "..." after 3 lines of text */
.text-style-3lines {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

/* Apply "..." after 2 lines of text */
.text-style-2lines {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

/* Adds inline flex display */
.display-inlineflex {
    display: inline-flex;
}

/* Prevent all click and hover interaction with an element */
.pointer-events-off {
    pointer-events: none;
}

/* Enables all click and hover interaction with an element */
.pointer-events-on {
    pointer-events: auto;
}

/* Create a class of .div-square which maintains a 1:1 dimension of a div */
.div-square::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.form_component {
    margin-bottom: 0;
}

.w-form {
    margin: 0 0 15px;
}

.form_form {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
}

.grid_2col{
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}

.w-input, .w-select {
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    width: 100%;
    height: 38px;
    margin-bottom: 10px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857;
    display: block;
}

.w-inline-block {
    max-width: 100%;
    display: inline-block;
}

.form_field-wrapper {
    margin-bottom: 1.25rem;
}
.form_label {
    font-weight: 600;
}

.form_input {
    padding: var(--space--xsmall) var(--space--small);
    border: .1rem solid var(--color--border);
    color: var(--color--text);
    border-radius: .5rem;
    min-height: 3.25rem;
    margin-bottom: 0;
    font-size: 1rem;
}
.form_input.is-select-input {
    background-color: var(--swatches--neutral0);
    align-items: center;
    display: flex;
}

.w-input:focus, .w-select:focus {
    border-color: #3898ec;
    outline: 0;
}