:root {
    --color--surface-1: var(--swatches--neutral0);
    --color--text: var(--swatches--neutral700);
    --color--headline: var(--swatches--blue800);
    --text-size--xhuge: var(--size--1600);
    --text-size--huge: var(--size--1200);
    --text-size--xxlarge: var(--size--800);
    --text-size--xlarge: var(--size--600);
    --text-size--large: var(--size--500);
    --text-size--regular: var(--size--400);
    --swatches--blue500: #1c64f2;
    --space--xxsmall: var(--size--100);
    --swatches--neutral200: #e2e8f0;
    --space--custom-2: var(--size--1000);
    --space--xlarge: var(--size--1600);
    --space--xsmall: var(--size--200);
    --space--xhuge: var(--size--3200);
    --space--custom-1: var(--size--600);
    --space--0: var(--size--0);
    --space--xxhuge: var(--size--4800);
    --space--huge: var(--size--2400);
    --space--large: var(--size--1200);
    --space--xxlarge: var(--size--2000);
    --size--1000: 2.5rem;
    --size--600: 1.5rem;
    --size--500: 1.25rem;
    --space--tiny: var(--size--50);
    --space--small: var(--size--400);
    --space--medium: var(--size--800);
    --size--450: 1.125rem;
    --border-radius-100: var(--size--100);
    --text-size--medium: var(--size--450);
    --color--primary: var(--swatches--blue500);
    --space--regular: var(--size--600);
    --icon--small: var(--size--600);
    --icon--large: var(--size--1000);
    --size--800: 2rem;
    --space--1px: var(--size--25);
    --color--border: var(--swatches--neutral200);
    --swatches--neutral900: #0f1626;
    --swatches--neutral500: #64748b;
    --container--small: 48rem;
    --icon--medium: var(--size--800);
    --padding-section--small: var(--size--1200);
    --size--1200: 3rem;
    --max-width--small: 20rem;
    --text-size--xsmall: var(--size--300);
    --max-width--xxlarge: 80rem;
    --swatches--blue300: #8baef9;
    --border-radius-0: var(--size--0);
    --border-radius-200: var(--size--200);
    --border-radius-400: var(--size--400);
    --border-radius-600: var(--size--600);
    --border-radius-full: 128rem;
    --max-width--xsmall: 16rem;
    --max-width--medium: 32rem;
    --max-width--large: 40rem;
    --swatches--neutral0: white;
    --text-size--small: var(--size--350);
    --max-width--xlarge: 64rem;
    --color--surface-2: var(--swatches--neutral50);
    --swatches--neutral400: #94a3b8;
    --padding-section--large: var(--size--3200);
    --size--3200: 8rem;
    --swatches--blue400: #4e87f9;
    --container--large: 96rem;
    --max-width--xxsmall: 8rem;
    --swatches--blue600: #1349be;
    --color--selected: var(--swatches--blue100);
    --color--text-strong: var(--swatches--neutral900);
    --swatches--blue100: #ecf2fe;
    --size--400: 1rem;
    --padding-section--medium: var(--size--2000);
    --size--2000: 5rem;
    --container--medium: 64rem;
    --swatches--neutral50: #f8fafc;
    --swatches--neutral100: #f1f5f9;
    --swatches--neutral300: #cbd5e1;
    --swatches--neutral600: #475569;
    --swatches--neutral700: #334155;
    --swatches--neutral800: #1e293b;
    --swatches--blue800: #152340;
    --swatches--blue700: #14306c;
    --swatches--blue200: #cdf;
    --swatches--teal800: #0d2120;
    --swatches--teal700: #1c4f4e;
    --swatches--teal600: #246b69;
    --swatches--teal500: #2daeaa;
    --swatches--teal400: #39d0cc;
    --swatches--teal300: #87e7e3;
    --swatches--teal200: #b6f0ee;
    --swatches--teal100: #e6faf9;
    --swatches--yellow800: #3d3100;
    --swatches--yellow700: #715b05;
    --swatches--yellow600: #8e7106;
    --swatches--yellow500: #c49e08;
    --swatches--yellow400: #f5c60a;
    --swatches--yellow300: #f9df75;
    --swatches--yellow200: #faeaac;
    --swatches--yellow100: #fef9e7;
    --swatches--red800: #3f1613;
    --swatches--red700: #602620;
    --swatches--red600: #993c33;
    --swatches--red500: #d76b60;
    --swatches--red400: #eb847a;
    --swatches--red300: #f0a69e;
    --swatches--red200: #f4beb9;
    --swatches--red100: #fcf1f0;
    --swatches--green800: #053811;
    --swatches--green700: #215e2f;
    --swatches--green600: #348448;
    --swatches--green500: #47bd65;
    --swatches--green400: #6fde8b;
    --swatches--green300: #89f0a2;
    --swatches--green200: #b6f2c5;
    --swatches--green100: #e8faed;
    --color--acccent1: var(--swatches--teal300);
    --size--300: .75rem;
    --icon--xsmall: var(--size--400);
    --size--25: 1px;
    --color--text-subtle: var(--swatches--neutral500);
    --size--0: 0rem;
    --size--50: .125rem;
    --size--100: .25rem;
    --size--150: .375rem;
    --size--200: .5rem;
    --size--250: .625rem;
    --size--350: .875rem;
    --size--1600: 4rem;
    --size--2400: 6rem;
    --size--4800: 12rem;
    --color--accent2: var(--swatches--yellow300);
    --color--accent3: var(--swatches--red400);
    --color--error: var(--swatches--red600);
}